  
body{
    background-color: powderblue;
}

body{
    background-image: linear-gradient(to right bottom, teal, olive);
}

hr{
    border-width: 4px;
    border-color: #BDCDD6;
    width: 65%;
}

h1{
    color: #93BFCF;
}

h2{
    color: #93BFCF;
}

h3{
    color: #93BFCF;
}