  
body{
    background-color: #6096B4;
}

hr{
    border-style: dotted none none;
    border-width: 8px;
    border-color: #BDCDD6;
    width: 15%;
}

h1{
    color: #93BFCF;
}

h2{
    color: #93BFCF;
}

h3{
    color: #93BFCF;
}